{% include "header.html" %}

    <!--Header-->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 text-danger fw-light" href="/">
                    <img src="./../static/Heart.svg" height="55" alt="logo" style="margin-top: -5px;" class="d-inline-block align-text-center align-items-center"> 
                    HealthBox
            </a>
          <button class="navbar-toggler border-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <!--Login-->
                <li class="nav-item">
                    <a aria-current="page" href="{{ url_for('login') }}">
                        <button type="button" class="btn text-danger fs-5 mx-2">
                            Login
                        </button>
                    </a>
                </li>
                <!--Register-->
                <li class="nav-item">
                    <a aria-current="page" href="{{ url_for('register') }}">
                        <button type="button" class="btn text-danger fs-5 mx-2">
                            Register
                        </button>
                    </a>
                </li>
                <!--About Us-->
                <li class="nav-item">
                    <a aria-current="page" href="{{ url_for('aboutus') }}">
                        <button type="button" class="btn text-danger fs-5 mx-2">
                            About Us
                        </button>
                    </a>
                </li>
            </ul>               
          </div>
        </div>
      </nav>

{% include "footer.html" %}