<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>HealthBox</title>
            <!--Bootstrap Style Sheet Here-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <!--Plotly script here-->
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </head>
    <body>
    <!--Header-->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 text-danger fw-light" href="#">
                    <!-- <img src="./../static/Heart.svg" height="55" alt="logo" style="margin-top: -5px;" class="d-inline-block align-text-center align-items-center">  -->
                    HealthBox
            </a>
        
        </div>
      </nav>


      <!--Blood Pressure Graph-->
      <div class="card text-center mt-5 border-danger">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div id="BloodPressureGraph" style="width:100%;height:100%;display:inline-block;"></div>
          <div id="BloodPressureBarGraph" style="width:100%;height:100%;display:inline-block;"></div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>

    <!--Body Temperature Graph-->
      <div class="card text-center mt-5 border-danger">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div id="BodyTemperatureGraph" style="width:100%;height:100%;display:inline-block;"></div>
          <div id="BodyTemperatureBarGraph" style="width:100%;height:100%;display:inline-block;"></div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>

    <!--Mean Pie Chart-->
      <div class="card text-center mt-5 border-danger">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div id="MeanPieChart" style="width:100%;height:100%;display:inline-block;"></div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>


      <div class="card text-center mt-5 border-danger">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div id="3d-graph" style="width:100%;height:100%;"></div>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>


    <script>
        // Get the JSON data for the graph from Flask
        var graph_json = {{ graph_json|tojson|safe }};
        // Parse the JSON data
        var graph_data = JSON.parse(graph_json);
        
        // Blood Pressure Graph
        Plotly.newPlot('BloodPressureGraph', [graph_data[0]]);
        Plotly.newPlot('BloodPressureBarGraph', [graph_data[1]]);
        // Body Temperature Graph
        Plotly.newPlot('BodyTemperatureGraph', [graph_data[2]]);
        Plotly.newPlot('BodyTemperatureBarGraph', [graph_data[3]]);
        // Mean Pie Chart
        Plotly.newPlot('MeanPieChart', [graph_data[4]]);

        // Display the 3d graph
        Plotly.newPlot('3d-graph', graph_data[5]);
    </script>

<div class="text-center mb-5 text-danger" style="padding-top: 150px;">
    <p> HealthBox © 2024 </p>
</div>
</div>

<!--Bootstrap Script Here-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>