{% include "header.html" %}

<!--Header-->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="./../static/BlackBox Logo removebg.png" height="30" class="px-2">

            <span class="fs-4">BlackBox</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#"><button type="button" class="btn btn-dark">Features</button></a></li>
            <li class="nav-item"><a href="{{ url_for('register') }}"><button type="button" class="btn btn-dark">Register</button></a></li>
            <li class="nav-item"><a href="#"><button type="button" class="btn btn-dark">About Us</button></a></li>
          </ul>
        </header>

    </div>

{% include "footer.html" %}