{% include "header.html" %}

    <!--Header-->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 text-danger fw-light" href="/">
                    <img src="./../static/Heart.svg" height="55" alt="logo" style="margin-top: -5px;" class="d-inline-block align-text-center align-items-center"> 
                    HealthBox
            </a>
          <button class="navbar-toggler border-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <!--Logout-->
                <li class="nav-item">
                    <button type="button" class="btn text-danger fs-5 mx-2" data-bs-toggle="modal" data-bs-target="#logout_button">
                        Logout
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="logout_button" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Conformation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Conform your logout.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a aria-current="page" href="{{ url_for('logout') }}">
                                    <button type="button" class="btn btn-danger">Yes</button>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>

            </ul>               
          </div>
        </div>
      </nav>

    <div class="mt-4 mb-4 p-3 bg-danger bg-opacity-10 border border-danger border-start-0 rounded-end text-secondary fs-5 fw-light">
        Welcome {{ name }}!
    </div>

    <!--Device list here-->
    <div class="alert alert-secondary mb-4 fs-5 fw-light text-secondary" role="alert">
        Device List
        <a href="{{ url_for('new_device', email=name) }}" class="btn btn-secondary position-absolute top-50 end-0 translate-middle-y mx-3"><img src="./../static/add_device.svg" height="25" width="25" class=""/> New Device</a>
    </div>
        {% if device[0] == "None" and length == 1 %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong> Please add device. No device present.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            {% for i in range(1, length) %}
            <div class="mb-4 card border border-danger fw-light">
                <h5 class="card-header fs-4 fw-light text-dark">{{ device[i] }}</h5>
                <!--Delete Device-->
                <button type="button" class="btn btn-light position-absolute top-0 end-0 m-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{ i }}">
                    <img src="./../static/delete.svg" height="25" width="25" class=""/>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ i }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel{{ i }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel{{ i }}">⚠️ Warning</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Warning! If you delete this device, all data will be deleted from the database! Confirm Yes to delete and No to exit.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a id="confirmDelete{{ i }}" aria-current="page" href="{{ url_for('delete_device', name=name, device_name=device[i], device_key=device_API[i]) }}">
                                    <button type="button" class="btn btn-danger">Yes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Card Body Device List-->
                <div class="card-body">
                    <h5 class="card-title text-danger fs-5 fw-light">HealthBox/{{ name }}/{{ device[i] }} </h5>
                    <p class="card-text text-secondary">Clicking "View Graph" opens and displays the graph. "View Raw Data" shows the data in a table, while "View JSON Data" presents the data in JSON format.</p>
                    <a href="{{ url_for('graph', email=name, device_name=device[i], device_key=device_API[i]) }}" class="btn btn-danger px-3 m-2"><img class="mx-2" src="./../static/graph.svg" height="28" width="28" />View Graph</a>
                    <a href="{{ url_for('table', email=name, device_name=device[i], device_key=device_API[i]) }}" class="btn btn-dark px-3 m-2"><img class="mx-2" src="./../static/data.svg" height="25" width="25" />View Raw Data</a>
                    <a href="{{ url_for('api', email=name, device_name=device[i], api=device_API[i]) }}" class="btn btn-secondary px-3 m-2"><img class="mx-2" src="./../static/json.svg" height="25" width="25" />View JSON Data</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}


      

{% include "footer.html" %}